@font-face{
  font-family:prae;
  src: url(Fontes/Praetoria.otf);
  font-weight: bold;
}
@font-face{
  font-family:grego;
  src: url(Fontes/Greco.ttf);
  font-weight: bold;
}



*{
  margin: 0px;
  padding: 0px;
  cursor: default;
  user-select: none;
}
body,html{

height: 2350px;
background-size: auto;
background-color: #00001f;
background-repeat: no-repeat;
 
}


header{
  font-family: prae;
  display: block;
  
}

header > h1{
  padding: 7px;
   color: #daa520;
text-align: center;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 0.3px black;
}

nav#menu{
  display: none;
  
  
}
nav > ul{
  
  text-align: center;
  background-color: #eeeeee;
  position: absolute;
  width: 100vw;
}

nav > ul > li{
  
  border-bottom: 1px solid black;
  font-family: grego;
  padding: 5px;
}

nav > ul > li > a{
cursor: pointer;
color: #daa520;
text-decoration:none ;
 }
 
 
 i#menu-icon{
   display: block;
   text-align: center;
   color: white;
  background-color: black;
   padding: 5px;
   cursor: pointer;
 }

main{
  display: block;
  margin: 100px 20px;
 
  height: auto;
  
}

main > div > h2{
  cursor: pointer;
  font-family: grego;
  text-align: center;

}

.itens{
  background-color: #daa520;
  margin-top: 30px;
  height: 200px;
  width: 120px;

  border-radius: 15px;
  overflow: hidden;
}

.itens:hover{
  width: 90vw;
  transform: scale(1.1);
  transition-duration: 1.05s;

}

main > div > a >img{
  height: 100%;
  width: 90vw ;
  background-position: center center;
  
}

.titulo{
  display:none;
}

footer > P{
  display: block;
  background-color: black;
  text-align: center;
  font-size: 15px;
  color: #daa520;
}