@charset "UTF-8";

@media screen and (min-width: 768px){
      @font-face {
        font-family: grego;
        src: url(Fontes/Greco.ttf);
      }
  body,html{
height: 2350px;

  }
       header{
        position: static ;
       }
    
        
        
       header > h1 {
        position: static;
        text-align: center;
       border-bottom: 2px solid#daa520;
       padding: 7px;
        padding-bottom: 15px;
       }


       header > i{
       
         padding: 0px;
         width: 29px;
         margin-top: -60px;
    
         position: relative;
       }

       i#menu-icon{
        font-size: 30px;
        background-color: #00000000;
        margin-left: 20px ;

      
       }
       i#menu-icon:hover{
       transform:  scale(1.2);
       transition-duration: 1200;
       }
       @keyframes deslizarmenu {
        from{ height: 0px;
        }
        to{
          height: 190px;
        }
       }
     
         nav > ul{
          animation-name: deslizarmenu ;
          animation-duration: 700ms;
          animation-timing-function: ease-out;
          border-radius: 10px;
          width: 130px;
          text-align: center;
          overflow: hidden;
        
        

        }
        @keyframes deslizarlistamenu{
          from{
            height: 0px;
          }
          to{
            height: 22px;
          }
        }
      
      
         nav > ul > li{

            font-size: 18px;
            border-bottom: none;
             list-style-type: none;
             margin-bottom: 5px;
            margin-top: 5px;
            animation-name: deslizarlistamenu ;
          animation-duration: 500ms;
         
          animation-timing-function: ease-out;
        }
        
        nav > ul > li:hover{
          transform: scale(1.1);
          transition-duration: 100ms;
        }

       
       nav#menu{
        display: none;
       }

       .titulo{ 
        font-family: grego;
        display: block;
        padding: 40px;
        color:#daa520;
        text-align: center;
        margin-top: 40px ;
        
        
       }
     
       main{
       
        height: auto;
       position: static;
        margin-top: 0%;
       }

       .itens{
       margin: 50px auto;
       width: 500px;
       } 

       .itens:hover{
        position: static;

        
        width: 500px; 
        
       }
       .itens a{
        text-decoration: none;
        color: black;
        
       }
       .itens img{
        font-family: grego;
        display: inline-block;
        position: relative;
        width: 100%;
        font-weight: lighter;
        
       }
      

}