@charset "UTF-8";

@font-face{
  font-family:prae;
  src: url(Fontes/Praetoria.otf);
  font-weight: bold;
}
@font-face{
  font-family:grego;
  src: url(Fontes/Greco.ttf);
  font-weight: bold;
}



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}
#body{
min-height: 100vh;
background-size: auto;
background-color: #00001f;
background-repeat: no-repeat;
}

header{
  font-family: prae;
  text-align: center;
  position: relative;
}

header > h1{
  padding: 7px;
  color: #daa520;
  font-size: 48px;
  text-shadow: 2px 0.3px black;
}

nav{
  display: none;
  
  
}
@keyframes deslizarMenu {
  from{
  height: 0px;
  }
  to{
    height: 85.78px;
  }
  
}

nav > ul{
  animation-name: deslizarMenu;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  position:absolute;
  text-align: center;
  background-color: #eeeeee;
  width: 100vw;
  overflow: hidden;
}

@keyframes deslizarLista {
  from{
    height: 0px;
  }
  to{
    height: 28.6px;
  }
}

nav > ul > li{

  animation-name:deslizarLista ;
  animation-duration: 500ms;
  border-bottom: 1px solid black;
  font-family: grego;
  height: 28.6px;
  padding: 5px;
  list-style-type: none;
}

nav > ul > li > a{
cursor: pointer;
color: #daa520;
text-decoration:none ;
 }
 
 
 i#menu-icon{
   display: block;
   cursor: pointer;
   color: white;
   background-color: #daa520;
   padding: 3px;
   opacity: 0.8;
   
 }

main{
  margin: 100px 20px;
}

main > div > div > h2{
  cursor: pointer;
  font-family: grego;
  text-align: center;
  
}

.itens{
  background-color: #daa520;
  height: 200px;
  width: 90vw;
  border-radius: 15px;
  overflow: hidden;
  
}

.itens img{
  height: 100%;
  width: 90vw ;
  background-position: center center;
}

.cardMitology{
  margin-top: 30px;
  transition-duration: 500ms;
  width: 90vw;
  height: 200px;
  background-color: #eeeeee;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}

.conteudo{
  font-family: grego;
  font-size: 14px;
  margin: 4px;
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;

}
.conteudo:hover{
  transform: scale(1.1);
}

.titulo{ 
    font-family: grego;
    display: block;
    color:#daa520;
    text-align: center;
    margin-top: 40px ;
}

footer > P{
  display: block;
  background-color: black;
  text-align: center;
  font-size: 15px;
  color: #daa520;
}

/* ultilização em Javascript */ 

.cardJS{
  height: 310px !important;
}
